
<marquee behavior="speed" direction="">
    <strong>click or hover card for more information</strong>
</marquee>
<div class="container">
    <div class="row ">
        <div class="col-md-6 col-lg-3 col-xl-3 col-sm mt-4" *ngFor='let team of teamDetails'>
            <div data-toggle="modal" data-target="#exampleModal" (click)='update(team.Team_Name)'>
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="assets/img/{{team.Team_Logo}}" alt="Avatar" style="width:200px;height:300px;">
                        </div>
                        <!-- flex-column d-flex justify-content-around -->
                        <div class=" flip-card-back ">
                            <div>
                                <h3>{{team.Team_Name}}</h3>
                                <h3> points : {{team.Team_Points}}</h3>
                            </div>
                            <div class="">
                                <ul class="list-group " *ngFor='let members of team.Team_Members'>
                                    <li class="list-group-item ">{{members}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- Button trigger modal -->


<!-- Modal -->
<div *ngIf='selectedTeam != null && selectedTeam != undefined' class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{headingName}}</h5>
            </div>
            <div class="modal-body" >

                <div *ngIf='objSize == 0'>
                    <h4> this team not responded yet </h4>
                </div>
                <!-- *ngIf='todaysTeam.length != 0 ' -->
                <ul class="list-group " *ngIf='objSize != 0'>
                    <li class="list-group-item ">MOM ==> {{selectedTeam.Team_MOM}}</li>
                    <li class="list-group-item ">BTS ==> {{selectedTeam.Team_BTS}}</li>
                    <li class="list-group-item ">BOW ==> {{selectedTeam.Team_BOW}}</li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>