<img src="assets/img/heading.png" class="img-fluid" alt="Responsive image">



<div class="text-center">
   
</div>
<div class="text-center">
    <div class="d-flex justify-content-around" style="color: white;">

        <pre class="result">
            The results for MI V KKR
            Man of the match - Sunil Narine
            Best Bowler – Jaspreet Bumrah – 3 for 43
            Best Batsman – Rahul Tripathi – 74 of 42 balls
        </pre>
        <div style="font-family: arial,sans-serif;">
            <h3>RCB v CSK</h3>
            <h3>Today's match</h3>
        </div>

    </div>
    <a href='https://forms.gle/SRGwobDuwHoTcPtN9' class="btn btn-primary" target='_blank'>Submit your team</a>
</div>


<app-cards></app-cards>
<router-outlet></router-outlet>