<img src="assets/img/heading.png" class="img-fluid" alt="Responsive image">


<div class="row text-center justify-content-center">
    <div class="col-md-5"><button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Yesterdays
            Match</button></div>
    <div class="col-md-5"><button [disabled]="currentDate.getTime()>=-14182940000" href='https://forms.gle/SRGwobDuwHoTcPtN9' class="btn btn-primary" target='_blank'>Submit
            Team</button></div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content themeBackground">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{YMATCH}}</h5>
            </div>
            <div class="modal-body">
                <ul class="list-group text-center">
                    <li class="list-group-item ">Man of the match:<span class="teamdetails">{{YMOM}}</span> </li>
                    <li class="list-group-item ">Best Batsman :<span class="teamdetails">{{YBTS}}</span> </li>
                    <li class="list-group-item ">Best Bowler :<span class="teamdetails">{{YBOW}}</span></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<app-cards></app-cards>
<div class='footer'>
    Made with <span style='color: red !important'>❤</span> at Kanaka HQ
</div>
<router-outlet></router-outlet>