/* You can add global styles to this file, and also import other style files */

body {
    background-color: #041982!important;
    
    overflow-x: hidden;
}
*{
    color: white!important;
}

/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #041982;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1b36bb;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #1b36bb;
}

button,
a {
    width: 150px;
    padding: 10px;
}

li{
    color: white ;background-color: rgb(245 245 245 / 7%)!important;
}

.modal-header, .modal-footer, .themeBackground{
    border-top: none !important;
    border-bottom: none !important;
    background-color: #041982!important;
}



.list-group-item {
    font-family: sans-serif;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {

    .flip-card {
        width: 330px;
        margin: auto;
    }

    .btn{
        margin-top: 3%;
    }

    .teamdetails {
        font-size: 1vh;
    }

}